body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: white;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

#homeScreenBg {
    background-image: url("../Assets/fortnite.jpg");
}

#chOneBg {
    background-image: url("../Assets/Chapter 1.jpg");
}

#chTwoBg {
    background-image: url("../Assets/Chapter 2.jpg");
}

#chThreeBg {
    background-image: url("../Assets/Chapter 3.jpg")
}

#chFourBg {
    background-image: url("../Assets/Chapter 4.jpg")
}

#chOgBg {
    background-image: url("../Assets/OG fortnite.jpg")
}

#chFiveBg {
    background-image: url("../Assets/Chapter 5.jpg")
}

#chTwoRemixBg {
    background-image: url('../Assets/Chapter 2 remix.jpg')
}

.home-screen {
    text-align: center;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
}

.ch1-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.ch2-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.ch3-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.ch4-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.chOg-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.ch5-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.ch2Remix-txt {
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.home-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}


.tab-link {
    background-color: black;
    color: #ffd700;
    border: none;
    padding: 15px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

.tab-link:hover {
    background-color: #5fa1d6;
}

.tab-link.active {
    background-color: #5fa1d6;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    margin-top: 20px;
    background-color: #5fa1d6;
    border-radius: 10px;
    text-align: center;
}

.chapter-image {
    width: 80%;
    height: auto;
    margin: 20px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5fa1d6;
    display: flex;
    width: 100%;
}

ul>li {
    display: inline-block;
    text-align: center;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #5fa1d6;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: black;
    display: flex;
    width: 100%;
}

ul>li {
    display: inline-block;
    text-align: center;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #5fa1d6;
}

#taskbarLogo {
    width: 7em;
    height: 3em;
    text-align: center;

    padding-top: 5px;
    padding-bottom: auto;
}

.nav-logo a:hover {
    background-color: #5fa1d6;
}